/.vscode
/BS.c
/BSRecursive1.c
/DisplayCircularLL.c
/DisplayDLL.c
/DisplaySLL.c
/Everything_of_SLL.c
/Fibonacci.c
/LS.c
/MergeSort.c
/output
/Polynomial.c
/QS.c
/QS_.c
/random.c
/random1.c
/Sorting.c
/Sorting1.c
/Sorting2.c
/Structure.c
/Structure1.c
/Structure2.c
/Structure3.c
/Structure4.c
/Structure5.c
/Structure6.c
/TOH.c